/****************** Index  *********************/
/* Header */
@media only screen and (max-width:1671px){
    .picture{
        background-position: 0 -200px;
    }
}

@media only screen and (max-width:1450px){
    .picture{
        background-position: 0 -160px;
    }
}

@media only screen and (max-width:1250px){
    .picture{
        background-position: 0 -100px;
    } 
    
    .container-header{
        margin: 0 1.5em;
        
    }
}

@media only screen and (max-width:990px){
    .picture{
        background-position: 0 -70px;
    } 
}

@media only screen and (max-width:870px){
    .picture{
        background-position: 0 -42px;
    } 
}

@media only screen and (max-width:750px){
    .box-2 nav{
        display: none;
    }

    .small-menu nav{
        display: inline-block;
    }

    .container-header{
        width: 310px;
        margin: auto;
    }
}

@media only screen and (max-width:660px){
    .picture{
        background-position: 0 -10px;
    } 
}

@media only screen and (max-width:500px){
    .picture{
        background-position: 0 0;
    }

    .picture img {
        width: 150px;
        right: 5px;
        top: 40px
    }
}

@media only screen and (max-width:413px){
    .pre-header{
        font-size: 1.3em;
        text-align: center;
    }
}

@media only screen and (max-width:370px){
    .pre-header{
        font-size: 1.1em;
    }

    .container-header{
        font-size: 0.8em;
        width: 248px;
    }

    .picture img {
        width: 100px;
        right: 5px;
        top: 10px
    }
}

@media only screen and (max-width:340px){
    .picture{
        background-position: -28px 0;
    }

    .small-menu nav ul li a{
        font-size: 1.3em;
    }
}

@media only screen and (max-width:320px){
    .picture{
        background-position: -47px 0;
    }
}

/* Main */
/* Main-about */
@media only screen and (max-width:1225px){
    .main-about{
        margin: 0 1.5em;
    }

    .main-about .text .img{
        height: 230px;
    }

    .main-about .text .img2 {
        top: 28px;
        right: 239px;
    }
}

@media only screen and (max-width:1179px){
    .main-about .text .img1 {
        top: 28px;
        right: -6px;
    }

    .main-about .text .img2 {
        top: 28px;
        right: 227px;
    }
}

@media only screen and (max-width:1179px){
    .main-about .text .img1 {
        top: -19px;
        right: 120px;
    }

    .main-about .text .img2 {
        top: 217px;
        right: 120px;
    }
}

@media only screen and (max-width:1110px){
    .main-about .text .img1 {
        top: -19px;
        right: 100px;
    }

    .main-about .text .img2 {
        top: 217px;
        right: 100px;
    }
}

@media only screen and (max-width:1060px){
    .main-about .text .img1 {
        top: -19px;
        right: 70px;
    }

    .main-about .text .img2 {
        top: 217px;
        right: 70px;
    }
}

@media only screen and (max-width:1030px){
    .main-about .text .img1 {
        top: -19px;
        right: 50px;
    }

    .main-about .text .img2 {
        top: 217px;
        right: 50px;
    }
}

@media only screen and (max-width:1000px){
    .main-about .text .img1 {
        top: -19px;
        right: 40px;
    }

    .main-about .text .img2 {
        top: 217px;
        right: 40px;
    }
}

@media only screen and (max-width:985px){
    .main-about .text .img1 {
        top: -19px;
        right: 20px;
    }

    .main-about .text .img2 {
        top: 217px;
        right: 20px;
    }
}

@media only screen and (max-width:960px){
    .main-about .text .img1 {
        top: -19px;
        right: 0px;
    }

    .main-about .text .img2 {
        top: 217px;
        right: 0px;
    }
}

@media only screen and (max-width:940px){
    .main-about .text .img2 {
        display: none;
    }

    .main-about .text .img {
        height: 265px;
    }

    .main-about .text .img1 {
        top: 17px;
        right: 30px;
    }
}

@media only screen and (max-width:900px){
    .main-about .text .img1 {
        top: 17px;
        right: 0px;
    }
}

@media only screen and (max-width:865px){
    .main-about .text .img1 {
        display: none;
    }

    .main-about .text i{
        float: unset;
        margin-bottom: 0.5em;
    }

    .fuga{
        text-align: center;
    }

    .main-about .text p{
        float: unset;
        max-width: 95%;
        margin: auto;
        padding: 0;
    }

    .main-about .text .small-img1{
        display: inline-block;
        height: 250px;
    }

    .main-about .text .small-img{
        width: 610.28px;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@media only screen and (max-width:660px){
    .main-about .text .small-img1{
        display: inline-block;
        height: 200px;
    }

    .main-about .text .small-img{
        width: 489.2px;
    }
}

@media only screen and (max-width:540px){
    .main-about .text .small-img{
        display: none;
    }
}

/* Footer */
@media only screen and (max-width: 852px){
    .contact_info{
        display: block;
        float: none;
        text-align: center;
        margin: auto;
        width: auto;
    }

    .other_contact{
        float: none;
        text-align: center;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        width: auto;
    }

    .contact_info a{
        font-size: 1em;
    }

    .map{
        display: none;
        float: none;
    }

    .map_middle{
        display: block;
        width: 300px;
        height: 300px;
        margin: auto;
    }
}

/************* Objednavaj ****************/
@media only screen and (max-width: 1042px){
    .shop-box .shop-text ul li a{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 933px){
    .shop-box .shop-text ul li a{
        padding: 0.3em;
    }
}

@media only screen and (max-width: 890px){
    .shop-box .shop-text ul{
        display: none;
    }

    .small-shop-box{
        display: block;
    }
}

@media only screen and (max-width: 600px){
    .shop-box .shop-img{
        float: unset;
        width: auto;
    }

    .shop-box .shop-text{
        float: unset;
        width: auto;
        margin-top: 0.4em;    
    }

    .shop-box .big-shop-img{
        display: none;
    }

    .shop-box .small-shop-img{
        display: inline-block;
        margin-left: 0.2em;
        margin-right: 0.2em;
        width: auto;
    }
}