body{
    background-image: url(../pictures/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width:1200px){
    body{
        background-image: url(../pictures/2.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }
}

label{
    font-size: 18px;
    font-weight: 900;
}

button{
    background-color: rgb(211, 158, 44);
    border: 2px solid rgb(235, 168, 24);
    border-radius: 5px;
    padding: 0.3em 2em;
    font-weight: 900;
    color: white;
}
button:hover{
    background-color: rgb(235, 168, 24);
}

input{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    font-weight: 900;
}

h1{
    font-weight: 900;
}

#warningX,
#warningY{
    color: red;
    font: 1.5em;
    font-weight: 800;
    padding-top: 0.3em;
    display: none;
}

/*-------------------------------------------------------*/

#bg{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}

#close{
    width: 50px;
    height: auto;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

td,tr{
    text-align: center;
    width: 75px;
    height: 50px;
    color: white;
    border: 3px solid white;
    font-size: 25px;
    font-weight: 900;
}

table{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}